/* Body par défaut */
body {background-color:#ffffff; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;}
body {font-size:75%;}

form {padding: 0; margin: 0;}

/* Cacher les sous-menu au chargement*/
#smenu1 {display:none;}
#smenu2 {display:none;}
#smenu3 {display:none;}
#smenu4 {display:none;}
#smenu5 {display:none;}

/* Définition des zones */
#conteneur {width:735px;}
#entete {background-color:#d6d6b0; border-bottom:1px solid #ffffff; width:702px; clear:both;}
#colonne_gauche {background-color:#e5e5cc; float:left; width:120px; border-right:1px solid #ffffff; font-size:90%;}
#navigation_horizontale {width:595px; float:left;}
#contenu, #contenu-succursales, #contenu-msg-erreur {position:relative; float:left; padding:18px 0 0 14px; width:581px;}
#pied_de_page {width:581px; font-size:90%; margin:3px 0 10px 135px; padding-top:3px;  border-top:1px solid #cccccc; clear:both;}

/* Styles pour ajuster l'impression */
@media print {
#entete {display:inline;}
#colonne_gauche {display:none;}
#contenu {clear:both;}
#pied_de_page {margin:0;}
}
/* Entête */
div#entete {text-align:right; padding-right:14px;}
div#entete img.logo {float:left;}
div#entete img.choixlangue {margin-right:81px;}

/* Sert a WCS qui utilise un label pour la variable session dans l entete */
div#entete label {display: inline;}

/* Colonne de gauche  */
div#colonne_gauche p {margin:0 7px 2px 7px; color:#333333; padding: 0; font-size:100%;}
div#colonne_gauche img {margin-left:5px; border:0;}
div#colonne_gauche img.enveloppe {margin-left:0; float:left;}
div#colonne_gauche img.rechercher {margin-left:51px; margin-top:1px;}
div#colonne_gauche input {margin-left:5px; font-family:Arial, Helvetica, sans-serif; font-size:100%; width:100px;}
div#colonne_gauche a:hover {text-decoration:underline;}
div#colonne_gauche ul {margin:0; padding:5px 0 5px 0; list-style-type:none; border-bottom:2px solid #760d0d;} 
div#colonne_gauche ul li {margin:0; padding:0; background: url(../images/tri3.gif) 0 0 no-repeat;}
div#colonne_gauche ul li a {display:block; margin:0; padding:1px 0 1px 14px; width:106px; color:#760d0d; text-decoration:none;}
div#colonne_gauche ul li a img {border:0;}
div#colonne_gauche ul li a:hover span {text-decoration:none;}


/* a l'exterieur du contenu */
div#navigation_horizontale2 {width:581px; float:left; padding-left:14px;} 
div#navigation_horizontale2 p {margin:2px 0 4px 0; padding:2px 5px 2px 0; color:#333333; clear:both; font-size:95%; border-bottom:1px solid #333333;}
div#navigation_horizontale2 a {color:#333333; text-decoration:none;}
div#navigation_horizontale2 span {padding:0 6px 0 3px; color:#000000;}
div#navigation_horizontale2 a:hover {text-decoration:underline;}

/* sous-menu de section, options */
/* a l'interieur du contenu */
#contenu div#navigation_horizontale2 {width:581px; margin-top:-14px; float:left; padding-left:0;} 
#contenu div#navigation_horizontale2 p {margin:0 0 4px 0; padding:0 5px 2px 0; color:#333333; clear:both; font-size:95%; border-bottom:1px solid #333333;}

#entete img {border:0;}

div#colonne_gauche dl#menu {position:relative; z-index:100; margin:3px 0 0 0; padding:2px 0 2px 0; border-top:1px solid #cccc99;}
div#colonne_gauche dl#menu ul li {background:none;}

/* div#colonne_gauche #menu img {margin: 0; padding: 0; border:0; list-style-type: none;}*/

div#colonne_gauche #menu dt {cursor: pointer; width: 112px; height: 21px; background:url(../images/pull_down.gif) 5px 0 no-repeat;}
div#colonne_gauche #menu dt a {padding:3px 0 0 10px; color:#000000; text-decoration:none;}
div#colonne_gauche #menu dd {
position: absolute; z-index: 100; left: 3em; top:7px; width: 150px; background: #e5e5cc;
/* top p/r au dl, pas de top le place à la hauteur du bouton */
}
div#colonne_gauche #menu ul {border:1px solid #000000; padding: 2px;}
div#colonne_gauche #menu li {padding:0px; width:170px;}
div#colonne_gauche dd ul li a {width:140px;}
div#colonne_gauche dl#menu dd ul ul {border:0;}
div#colonne_gauche dl#menu dd ul ul li {}
div#colonne_gauche dl#menu dd ul ul li div {float: left; width:10px;}
div#colonne_gauche #menu li a, #menu dt a {padding-left:0; text-decoration:underline; display: block;}
div#colonne_gauche #menu li a:hover {color:#dd0000;}
/*div#colonne_gauche form {padding: 0; margin: 0;}*/

/* Pied de page */
div#pied_de_page {}
div#pied_de_page span {padding:0 5px 0 5px; color:#999999;}
div#pied_de_page a {color:#666666;}
div#pied_de_page img.left {float:left;}
div#pied_de_page img.droite {float:right;}


/* Menu flottant à droite des pages */
div.menu_flottant {float:right; margin:0 0 15px 20px;}
div.menu_flottant dl { margin:0 0 2px 0; padding:0 0 5px 0;;}
div.menu_flottant dl dt {font-weight:bold; margin:0; padding:4px 7px 3px 7px; color:#7d0606; background:#d6d6b0;}
div.menu_flottant dl dd {margin:0; font-size:90%; color:#1d1d1d; font-weight:normal; background: #e5e5cc}

/* Pour les liens actifs */
div.menu_flottant dl dd b {display: block; width: 131px; font-weight:normal; padding-left:6px; color:#990000;}
div.menu_flottant dl dd strong {display: block; width: 131px;  font-weight:normal; padding-left:6px; color:#990000;}

div.menu_flottant dl dd a {font-weight:normal; padding: 0 3px 0 6px; display:block; width:131px; text-decoration:none;}
div.menu_flottant dl dd a:hover {text-decoration:underline;}
div.menu_flottant dl dd a.actif {padding-left:5px; background-color:#e7e7c6; padding-top:3px;}
div.menu_flottant dl dd ul {margin:0; padding:0; border-left:1px solid #cecea3; border-right:1px solid #cecea3;list-style-type:none; background-color:#e5e5cc;}
div.menu_flottant dl dd ul li {font-weight:bold; font-weight:normal;}
div.menu_flottant dl dd ul li a {width:115px; }

div.menu_flottant dl dd ul ul {border:0; width:120px;}
div.menu_flottant dl dd ul ul li {padding-left:14px; background:url(../images/menu_flottant.gif) no-repeat 3px 3px;}
div.menu_flottant dl dd ul ul li a {width:115px; padding-left:0px; background:none;}

div.menu_flottant dl dd ul ul ul {border:0;}
div.menu_flottant dl dd ul ul ul li {padding-left:0; background:none;}
div.menu_flottant dl dd ul ul ul li a {}

div.menu_flottant ul.indent li {background:none}
	

/* Navigation horizontale */

#navigation_horizontale ul {list-style-type:none; text-indent:0px; padding:0px; margin:0px;}
#navigation_horizontale li {float:left;}
#navigation_horizontale a {display:block; position:relative; top:0px; left:0px}
#navigation_horizontale a:hover {
	border:0px;	/* necessaire à cause d'un bogue dans IE */
}	
#navigation_horizontale img {display:block;	border:0px;}

/* Fixer les dimensions de la zone modifiable dans le CMS */
#cms_wrap {width:595px}

#navigation_horizontale span.lien-image-survol, #navigation_horizontale span.lien-image-actif {
	display:none;
}

#navigation_horizontale a:hover span.lien-image-survol  {
	display:inline
}
#navigation_horizontale a:hover span.lien-image-off  {
	display:none
}

body.section0 #navigation_horizontale a#url-section0 span.lien-image-off  {
	display:none
}
body.section0 #navigation_horizontale a#url-section0:hover span.lien-image-survol  {
	display:none
}

body.section0 #navigation_horizontale a#url-section0 span.lien-image-actif  {
	display:inline;
	cursor:default;
}


body.section-produit #navigation_horizontale a#url-section-produit span.lien-image-off  {
	display:none
}
body.section-produit #navigation_horizontale a#url-section-produit:hover span.lien-image-survol  {
	display:none
}

body.section-produit #navigation_horizontale a#url-section-produit span.lien-image-actif  {
	display:inline;
	cursor:default;
}

body.section1 #navigation_horizontale a#url-section1 span.lien-image-off  {
	display:none
}
body.section1 #navigation_horizontale a#url-section1:hover span.lien-image-survol  {
	display:none
}

body.section1 #navigation_horizontale a#url-section1 span.lien-image-actif  {
	display:inline;
	cursor:default;
}

body.section2 #navigation_horizontale a#url-section2 span.lien-image-off  {
	display:none
}
body.section2 #navigation_horizontale a#url-section2:hover span.lien-image-survol  {
	display:none
}

body.section2 #navigation_horizontale a#url-section2 span.lien-image-actif  {
	display:inline;
	cursor:default;
}

body.section3 #navigation_horizontale a#url-section3 span.lien-image-off  {
	display:none
}
body.section3 #navigation_horizontale a#url-section3:hover span.lien-image-survol  {
	display:none
}

body.section3 #navigation_horizontale a#url-section3 span.lien-image-actif  {
	display:inline;
	cursor:default;
}

body.section4 #navigation_horizontale a#url-section4 span.lien-image-off  {
	display:none
}
body.section4 #navigation_horizontale a#url-section4:hover span.lien-image-survol  {
	display:none
}

body.section4 #navigation_horizontale a#url-section4 span.lien-image-actif  {
	display:inline;
	cursor:default;
}

body.section5 #navigation_horizontale a#url-section5 span.lien-image-off  {
	display:none
}
body.section5 #navigation_horizontale a#url-section5:hover span.lien-image-survol  {
	display:none
}

body.section5 #navigation_horizontale a#url-section5 span.lien-image-actif  {
	display:inline;
	cursor:default;
}

body.section6 #navigation_horizontale a#url-section6 span.lien-image-off  {
	display:none
}
body.section6 #navigation_horizontale a#url-section6:hover span.lien-image-survol  {
	display:none
}

body.section6 #navigation_horizontale a#url-section6 span.lien-image-actif  {
	display:inline;
	cursor:default;
}
body.contenu-large #navigation_horizontale {
	padding-left:121px;
	background-color:#e5e5cc
}
body.contenu-large #navigation_horizontale2 {
	margin-left:61px;
	text-align:center;
}
/* alignement sous-menus publications */
body.section2 #conteneur #navigation_horizontale2 {text-align:center;}
body.section3 #conteneur #navigation_horizontale2 {text-align:center;}
body.section4 #conteneur #navigation_horizontale2 {text-align:right;}
body.section5 #conteneur #navigation_horizontale2 {text-align:right;}

/* Navigation pied de page */
p.navigation {color:#8e8e8e; font-weight:bold; text-align:right;}


